.lead__subtitle {
    max-width: 640px;
    margin: 32px 0px 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    color: #FFFFFF;
}

@media (max-width: 320px) {
    .lead__subtitle {
        font-size: 16px;
        margin: 0 auto 40px auto;
        max-width: 288px;
    }
}