.footer {
    max-width: 1184px;
    padding: 0px 48px;
    display: flex;
    justify-content: space-between;
    margin-top: 92px;
}

@media (max-width: 768px)
{
    .footer {
        margin-top: 88px;
        padding: 0px 24px;
    }
}

@media (max-width: 320px)
{
    .footer {
        flex-direction: column;
        align-items: flex-start;
        padding: 0 16px;
    }
}
